.container {
  display: flex;
  height: 90vh;
  border: 10px solid black;
  flex-wrap: wrap-reverse;
  /*  align-content: flex-start; */
  align-items: space-evenly;
  /*  justify-content: center; */
  /*   flex-direction: space-; */
}
.box {
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: center;
  border-radius: 15px;
}
#box1 {
  background-color: hsl(0, 100%, 70%);
}
#box2 {
  background-color: hsl(52, 100%, 70%);
}
#box3 {
  background-color: hsl(111, 100%, 70%);
}
#box4 {
  background-color: hsl(201, 100%, 70%);
}
